@{
    ViewBag.Title = "Post Page";
}
<style>
     h1 {text-shadow:2px 1px #FF0000;font-size:x-large;font-family:cursive}
</style>

<div class="wrapper">
    <div class="dividerVertical" />
            <h1>What are you thinking about?</h1>
            <textarea rows="7" >
            </textarea>
    <div class="dividerVertical" />                 
    <div class="row">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Post</button>
                <div class="divider" />
                <button class="btn btn-warning" type="button">Like</button>
                <div class="divider" />
                <button class="btn btn-danger" type="button">Share</button>
                <div class="divider" />
                <button class="btn btn-inverse" type="button">Choose file</button>
                <div class="divider" />
                <button class="btn btn-success :hover" type="submit">Upload!</button>
             
            </span>
        </div><!-- /input-group -->
</div><!-- /.row -->
</div>
