@{
    ViewBag.Title = "Post Page";
}
<div class="center">
    <span class ="panelTitleTxt">
            <textarea rows="7" >
            </textarea>
           <form enctype="multipart/form-data"
                action="http://example.org/wmqfte/file/agent/AGENT1@QM1/webuploads"
                method="POST">
                <button class="btn btn-primary" >Post</button>    
               <button class="btn btn-warning" >Like</button>    
               <button type="file"  class="btn btn-danger">Choose photo</button>
               <button type="submit" class= "btn btn-success :hover" >Upload</button>           

           </form>
    </span>
    
</div>
