@{
    ViewBag.Title = "MainPage";
}
<h2>MainPage</h2>
<a href="#myModal" role="button" class="btn"  data-toggle="modal" onclick="ceva()" data-target="#myModal" id="a">Launch demo modal</a>
<div class="modal fade in" id="myModal2">
    <div id="myModalContainer"></div>
</div>

